.btn {
    padding: 8px 12px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.count {
    margin: 0 12px;
}

.normal-btn
{
    background-color: #ff9100;
}

.normal-btn:hover  {
    background-color: #ffffff;
}

.add-btn
{
    background-color: #4cc9f0;
}

.add-btn:hover  {
    background-color: #6ffbf2;
}

.delete-btn
{
    background-color: #4895ef;
}

.delete-btn:hover  {
    background-color: #6ab7df;
}

.ms-mainBackGroudnd
{
    background-color: #231f20;/*#f7f9f9*/;/*#231f20*/;/* #480ca8;*//*#3a0ca3;*/
    /* #a7c957;*/
}

.ms-mainElement
{
    background-color: #333333;/*#231f20;*//* #386641;*/
}

.b-border
{
    border: #78d5d7 solid 2.5px;
}


  